* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    height: 200px;
    width: 200px;
    background-color: palegreen;
    /* transition: ; */
    /* transition-property: height,width; */
    transition: all 0.3s ease-in;
}
.box:hover{
    width: 500px;
    height: 500px;
    background-color: blueviolet;
    transition: 5s;
    /* transition-delay: 2s; */
    /* transition-timing-function:ease-out; */
    
}