* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #fcf5eb;
  /* padding: 0px 40px; */
}
.navbar {
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  
}
.navbar > img:nth-child(1) {
  width: 130px;
  height: 30px;
}
.nav-items {
  display: flex;
  gap: 35px;
  font-size: 16px;
}
.navbar > button , .btn {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background-color: #25d366;
  border: 1px solid black;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn::before , .navbar > button::before{
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    opacity: 0;
    background-color: #fff;
    transition: 1s;   
}
.navbar > button::before{
    background-color: black;
    z-index: -1;
}
.btn:hover::before , .navbar > button:hover::before{
    opacity: 1;
}
.btn:hover , .navbar > button:hover{
    cursor: pointer;
}
.feature {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 88px;
  position: relative;
  height: 20px;
}
.feature > img {
  transform: rotate(-90deg);
  width: 10px;
  height: 15px;
}
.slide {
  position: relative;
  cursor: pointer;
}
.slide::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  height: 1.8px;
  background-color: #25d366;
  bottom: 0;
  transform: scaleX(0);
  transition: all 0.5s ease-out;
  transform-origin: left;
}
.slide:hover::after {
  transform: scaleX(1);
}
.first-section{
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 100%;
    /* height: 90%; */
}
.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(./Images/MaaBeti.png);
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    padding: 40px 120px;
}
.first-section > p{
   font-size: 12px;
   text-align: end;
   opacity: 0.8;
   padding-top: 10px;
}
.right{
    position: relative;
    height: 100%;
    width: 40%;
    padding-top: 10px;
    overflow: hidden;
}
.right img{
    width: 450px;
}
.right img:nth-child(1){
    animation: Goodmorning 0.5s ease-in-out;
}
@keyframes Goodmorning{
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}
.right img:nth-child(2){
    position: absolute;
    right: 15px;
    top: 30px;
    animation: dil 1s ease-in-out;
}
@keyframes dil{
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.right img:nth-child(3){
    animation: chai 1.8s ease-in-out;
}
@keyframes chai{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.right img:nth-child(4){
    animation: voice 2.1s ease-in-out;
}
@keyframes voice{
    0%{
        opacity: 0;
        transform: translateY(70px);
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.right img:nth-child(5){
    animation: emotional 3.1s ease-in-out;
}
@keyframes emotional{
    0%{
        opacity: 0;
        transform: translateY(70px);
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.right img:nth-child(6){
    position: absolute;
    top: 490px;
    right: 15px;
    animation: dil 3.4s ease-in-out;
}
.right img:nth-child(7){
    padding-top: 30px;
    animation: trip 4s ease-in-out;
}
@keyframes trip{
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.left{
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.btn{
    width: 200px;
    border: none;
}
.left-msg {
    color: white;
}
.left-msg > h1{
    overflow-y: hidden;
    line-height: 90px;
    font-size: 4.9em;
   letter-spacing: -3px;
   font-weight: 300;
   margin-bottom: 15px;
}
.left-msg > p{
    font-size: 18px;
}
.second-section {
   padding: 0px 40px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 56px;
   gap: 56px;
   overflow: hidden;
}
.second-section > p{
   font-size: 48px;
   text-align: center;
   letter-spacing: -1.44px;
   font-weight: 500;
   line-height: 48px;
   overflow: hidden;
}
.second-section > img{
   width: 100%;
}
.first{
    padding-top: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    overflow: hidden;
}
.left-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}
.left-part > h2{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1.8px;
    line-height: 68px;
    overflow: hidden;
}
.left-part > p{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.18px;
}
.left-part > div{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
.left-part > div > p:nth-child(1) {
  border-bottom: 3px solid #25d366;
}
.left-part > div > img{
    transform: rotate(180deg);
    height: 10px;
    width: 10px;
}
.background-change{
   margin-left: 0px;
   margin-right: 0px;
    background-color: #111B21;
    width: 100%;
    color: white;
}
.white{
    color: white;
}
.green{
    color: #25d366;
}
.msg{
    position: relative;
}
.msg > img:nth-child(2){
    width: 320px;
     top: 28%;
     right: -2%;
     position: absolute;
     scale: 1.2;
  }
.beach{
    position: relative;
}
.beach > img:nth-child(2){
  width: 320px;
   top: 28%;
   right: -2%;
   position: absolute;
}
footer{
    background-color: #111B21;
    display: flex;
    flex-direction: column;
    padding-left: 211px;
    padding-top: 96px;
}
.footer{
    display: flex;
    height: 100%;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    gap: 96px;
    color: white;
}
.footer > div:nth-child(1){
 display: flex;
 flex-direction: column;
 gap: 100px;
}
.footer > div:nth-child(1) > button {
    width: 160px;
    padding-top: 18px;
    color: #1c1e21;
}
.footer > div:nth-child(1) > img{
    height: 38px;
    width: 160px;
}
.footer > div:nth-child(2) , .footer > div:nth-child(3) , .footer > div:nth-child(4) ,.footer > div:nth-child(5){
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer > div > p{
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
}

.bottom{
    display: flex;
    gap: 56px;
    margin-top: 137px;
    margin-bottom: 44px;
    align-items: center;
    color: white;    
} 
.bottom > div:nth-child(1){
    width: 111px;
    height: 32px;
    overflow: hidden;
    font-size: 12px;
}
.bottom > div:nth-child(2){
    width: 115px;
    height: 28px;
    font-size: 12px;
}
.bottom > div:nth-child(3){
   margin-left: 30px;
   height: 48px;
   width: 264px;
   display: flex;
   align-items: center;
   gap: 24px;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    background-color: #1c1e21;
    border: 1px solid white;
    border-radius: 50%;
}
.bottom > div:nth-child(4){
    display: flex;
    justify-content: right;
    font-size: 12px;
}
.bottom > div:nth-child(4) > button{
    background-color: #111b21;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px;
    gap: 50px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 218px;
    height: 52px;
    padding: 16px 28px;
    border-radius: 30px;
    margin-left: 180px;
}
.angle{
    transform: rotate(270deg);
}
.footer > div:nth-child(2) > p:nth-child(1) , .footer > div:nth-child(3) > p:nth-child(1) , .footer > div:nth-child(4) > p:nth-child(1) , .footer > div:nth-child(5) > p:nth-child(1) {
    font-size: 12px;
    overflow: hidden;
    line-height: 16.08px;
    margin-bottom: 16px;
}
.footer > div:nth-child(2) > p:hover , .footer > div:nth-child(3) > p:hover , .footer > div:nth-child(4) > p:hover , .footer > div:nth-child(5) > p:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}
.footer > div:nth-child(2) > p:nth-child(1):hover , .footer > div:nth-child(3) > p:nth-child(1):hover , .footer > div:nth-child(4):hover > p:nth-child(1) , .footer > div:nth-child(5) > p:nth-child(1):hover {
    text-decoration: none;
    cursor: none;
    color: none;
}
.navbar-2{
    display: none;
}

@media  screen and (min-width: 320px) and (max-width : 480px) {
    .navbar{
        display: none;
    }
    .navbar-2{
        display: block;
    }
    .navbar-2 > button{
        padding: 12px;
        font-size: 16px;
        border-radius: 50%;
        background-color: #25d366;
        border: 1px solid black;
        width: 35px;
        height: 35px;
    }
}
@media  screen and (min-width: 481px) and (max-width : 768px) {
    
}
@media  screen and (min-width: 769px) and (max-width : 1024px) {
    
}
@media  screen and (min-width: 1025px) and (max-width : 1200px) {
    
}
@media  screen and (min-width: 1200px) {
    
}