*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url(https://th.bing.com/th/id/R.2c150952ed816365d65ce087c06b440a?rik=lKSDgr3WaVbXvA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fsFEbr1X.jpg&ehk=1vzHomKnJFKzJgk3DiqzuD0AapP4DYeg%2bi1aaXEfST0%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    height: 70%;
    width: 50%;
    background-color: #86868652;
    backdrop-filter: blur(1px);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
h1{
    font-size: 80px;
}
.login-details{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.password{
    cursor: pointer;
    font-size: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.login-details input{
   padding: 22px;
   border-radius: 10px;
   border: none;
   font-size: 20px;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.password a{
   color: #fff;
}
button{
    border-radius: 10px;
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    background: linear-gradient(40deg , lightblue,black);
}
button:hover{
    cursor: pointer;
    background: linear-gradient(40deg , black,grey);
    color: #fff;
}
/* Mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px){
    .login{
        height: 85%;
        width: 90%;
    }
    .login-details{
        width: 80%;
    }
    .password{
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 1.2em;
        color: white;
        flex-direction: column;
        gap: 30px;
    }
    .login-details input{
        padding: 18px;
        font-size: 1em;
    }
    button{
        border-radius: 35px;
        padding: 20px 60px;
        font-size: 30px;
    }
}
/* Tablets */
@media screen and (min-width: 481px) and (max-width: 768px){
    .login{
        height: 85%;
        width: 90%;
    }
    .login-details{
        width: 80%;
    }
    .password{
        justify-content: space-between;
        width: 80%;
    }
    .login-details input{
        padding: 18px;
        font-size: 1em;
    }
    button{
        border-radius: 35px;
        padding: 20px 60px;
        font-size: 30px;
    }
}
/* Small screens */
@media screen and (min-width: 769px) and (max-width: 1024px){
    .login{
        height: 85%;
        width: 90%;
    }
    .login-details{
        width: 80%;
    }
    .password{
        justify-content: space-between;
        width: 80%;
    }
    .login-details input{
        padding: 18px;
        font-size: 1em;
    }
    button{
        border-radius: 35px;
        padding: 20px 60px;
        font-size: 30px;
    }
}
/* Large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px){
    .login{
        height: 85%;
        width: 90%;
    }
    .login-details{
        width: 80%;
    }
    .password{
        justify-content: space-between;
        width: 80%;
    }
    .login-details input{
        padding: 18px;
        font-size: 1em;
    }
    button{
        border-radius: 35px;
        padding: 20px 60px;
        font-size: 30px;
    }
}