@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto , Arial , sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.navbar{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 15px;
    background-color: black;
}
.left-nav{
    display: flex;
    gap: 20px;
}
.left-nav img:nth-child(2){
   width: 90px;
}
.centre-nav{
   width: 60%;
   display: flex;
   justify-content: center;
}
.centre-nav input{
    border: none;
   border-bottom-left-radius: 20px;
   border-top-left-radius: 20px;
    width: 50%;
    padding: 5px 15px;
    font-size: 17px;
    background-color: black;
    border: 1px solid #303030;
}
.centre-nav img:nth-child(2){
    padding: 3px 10px ;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #303030;
}
.centre-nav img:nth-child(3){
    margin-left: 10px;
}
.right-nav{
    display: flex;
    gap: 20px;
}
.right-nav img:nth-child(4){
    width: 30px;
    border-radius: 50%;
}
.yt-premium{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    gap: 50px;
}
.yt-desc h2{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color: gray;
}
.yt-premium-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:25px
}
.yt-premium-details button {
    padding: 0px 5px;
    border-radius: 18px;
    width: 39%;
    background-color: #065FD4;
    color: white;
    border: none;
    font-weight: 600;
    line-height: 36px;
    font-size: 14px;
    height: 36px;
}
.yt-premium-details p:nth-child(2){
    font-size: 25px;
    font-weight: lighter;
    color: gray;
}
.yt-premium-details span a{
    font-size: 14px;
    text-decoration: none;
    color: #065fd4;
}
.yt-premium-details a{
    text-decoration: none;
    color: #0000ee;
    font-size: 14px;
}
.features{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 50%;
    text-align: center;
    gap: 10px;
}

.first , .second , .third{
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}
.content p{
    color: rgba(226,226,226,0.711);
}
.background-img{
    height: 100%;
}
.bg-1{
    background-image: url(./images/bg1.jpeg);
    width: 100%;
    height: 60%;
    background-size: cover;
}
.bg-heading {
    font-size: 3.5em;
    font-weight: lighter;
    color: white;
}
.bg-para{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    color: rgba(255, 255 , 255 , 0.554); 
}
.bg-1 > div{
    padding-top: 130px;
    padding-left: 750px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.bg-2 > div{
    padding-top: 160px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bg-2{
    background-image: url(./images/bg2.jpeg);
    width: 100%;
    height: 60%;
    background-size: cover;
}
.bg-3{
    background-image: url(./images/bg3.jpeg);
    /* width: 100%; */
    height: 60%;
    background-size: cover;
}
.bg-4{
    background-image: url(./images/bg4.jpeg);
    width: 100%;
    height: 60%;
    background-size: cover;
}
.bg-3 > div{
    padding-top: 130px;
    padding-left: 750px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.bg-4 > div{
    padding-top: 160px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.faqs{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: black;
    color: white;
}
.help-centre{
    margin-right: 355px;
    margin-bottom: 30px;
}
.faq-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
hr{
    opacity: 0.2;
}
.all-faq{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.faq{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.faq i{
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 368px;
}
.faq-details p{
    font-size: 24px;
    font-weight: bold;
}
.faq p{
    font-size: 18px;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.help-centre p{
    font-size: 18px;
}
.help-centre a{
    font-size: 18px;
    text-decoration: none;
    color: #0000ee;
}
@media screen and (min-width: 320px) and (max-width:480px){
    .centre-nav{
        display: none;
    }
    .right-nav > img:nth-child(3){
        display: none;
    }
    .yt-premium{
        height: 100%;
        color: black;
        gap: 20px;
    }
    .yt-premium-logo > img{
        padding-top: 50px;
        width: 100%;
    }
        .features {
            flex-direction: column;
            justify-content: start;
            height: 100%;
            gap: 20px;
            padding-top: 40px;
            padding-bottom: 50px;
        }
    .first , .second , .third{
        width: 100%;
    }
    .bg-1  > div , .bg-2 > div , .bg-3 > div , .bg-4 > div{
        padding-top: 120px;
        padding-left: 30px;
    }
    .bg-4 {
        height: 70%;
    }
    .faq i {
        margin-top: 17px; 
        margin-bottom: 0px;
       margin-left: 0px
    }
    .faq-details{
    padding-top: 100px;
    }
    .help-centre{
        margin-right: 0px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px){
    .centre-nav{
        display: none;
    }
    .right-nav > img:nth-child(3){
        display: none;
    }
    .yt-premium{
        height: 100%;
        color: black;
        gap: 20px;
    }
    .yt-premium-logo > img{
        padding-top: 50px;
        width: 100%;
    }
        .features {
            flex-direction: column;
            justify-content: start;
            height: 100%;
            gap: 20px;
            padding-top: 40px;
            padding-bottom: 50px;
        }
    .first , .second , .third{
        width: 100%;
    }
    .bg-1  > div , .bg-2 > div , .bg-3 > div , .bg-4 > div{
        padding-top: 120px;
        padding-left: 30px;
    }
    .bg-4 {
        height: 70%;
    }
    .faq i {
        margin-top: 17px; 
        margin-bottom: 0px;
       margin-left: 0px
    }
    .faq-details{
    padding-top: 100px;
    }
    .help-centre{
        margin-right: 0px;
    }
}
@media screen and (min-width: 769px) and (max-width:1024px){
    
}
@media screen and (min-width: 1025px) and (max-width:1200px){
    
}